.about-header {
  border-bottom: 1px solid #efefef;
  .about-comp {
    border-radius: 2px;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 0 25px rgba($black, 0.1);
    border: 1px solid #f1f1f1;
    .caption {
      padding: 15px;
      p {
        color: #999;
        font-size: 14px;
        line-height: 1.6;
      }
    }
  }
} 

.skitter {
  border-radius: 2px;
  overflow: hidden;
  .prev_button, .next_button {
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .prev_button {
    #{$left}: 15px;
  }
  .next_button {
    #{$right}: 15px;
  }
}

.video-section {
  background-color: #f8f8f8;
  @media(min-width: 575px) {
    padding: 50px;
  }
  @media(min-width: 991px) {
    padding: 50px 175px;
  }
  video {
    width: 100%;
    outline: none !important;
    box-shadow: 0 0 20px rgba($black, 0.1);
  }
}

.tabs-info {
  padding: 40px 0;
  background-color: #f6f6f6;
  .nav-link {
    position: relative;
    padding: 6px 10px;
    margin: 5px 0;
    background-color: transparent !important;
    color: #212529 !important;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 4px;
    &:hover {
      background-color: $white !important;
    }
    &.active {
      background-color: $white !important;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        #{$left}: 0;
        width: 4px;
        background-color: $mainColor;
      }
    }
  }
  .tab-pane {
    padding-top: 8px;
    p {
      color: #787878;
      line-height: 1.7;
    }
  }
}