.our-gallery {
  padding: 8px;
  background-color: #222;
  border: 1px solid rgba(255,255,255,0.6);
  .grid-container {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 225px;
    grid-gap: 8px;
    grid-auto-flow: dense;
    .box {
      cursor: pointer;
      &.box_1,
      &.box_3 {
        grid-row: span 2;
      }
      &.box_2,
      &.box_6,
      &.box_7 {
        grid-column: span 2;
      }
      .box_1 {
        @media (max-width: 992px) {
          grid-column: span 2 !important;
        }
      }
      .box_2, .box_3 {
        @media (max-width: 992px) {
          grid-column: span 2 !important;
          grid-row: span 1 !important;
        }
      }
      .box_4, .box_5 {
        @media (max-width: 992px) {
          grid-row: span 1 !important;
          grid-column: span 4 !important;
        }
      }
      .box_6, .box_7 {
        @media (max-width: 992px) {
          grid-row: span 1 !important;
          grid-column: span 2 !important;
        }
      }
      .img-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &::before {
          content: '';
          @include overlay();
          background-color: rgba($black, 0.4);
          opacity: 0;
          transition: 0.4s;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: -120%;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(transparent, rgba($white, 0.2), transparent);
          transform: skew(-15deg);
          transition: 0.5s ease-out;
          transition-delay: 0.15s;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.4s;
        }
      }
    }
  }
  .grid-container:hover .img-container::before {
    opacity: 1;
  }
  .grid-container .img-container:hover::before {
    opacity: 0;
  }
  .grid-container .img-container:hover::after {
    left: 120%
  }

  .carousel-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.85);
    transition: 0.2s ease;
    @include flexCenter();
    opacity: 0;
    visibility: hidden;
    z-index: 1001;
    padding: 4% 2%;
    .close {
      display: inline-block;
      position: absolute;
      top: 40px;
      right: 50px;
      color: $white;
      font-size: 26px;
      cursor: pointer;
    }
    .content {
      max-width: 750px;
      border: 2px solid rgba($white, 0.5);
      transform: translateY(-75px);
      transition: 0.5s;
      @media(max-width: 992px) {
        max-width: 550px;
      }
      @media(max-width: 768px) {
        max-width: 450px;
      }
      @media(max-width: 576px) {
        max-width: 310px;
      }
    }
    .owl-gallery {
      .img-container {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 100%;
          width: auto;
        }
      }
      .owl-prev, .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 36px;
        width: 50px;
        font-weight: 900;
        color: #fff;
        outline: none !important;
        border-radius: 4px;
        border-color: transparent;
        box-shadow: none;
        transition: 0.3s;
        &:hover {
          border: 1px solid #212529;
        box-shadow: 1px 1px #fff, 
                    -1px -1px #fff;
        }
      }
      .owl-prev {
        left: -60px;
      }
      .owl-next {
        right: -60px;
      }
      .owl-dots {
        position: absolute;
        left: 0;
        text-align: center;
        width: 100%;
        .owl-dot {
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-color: #aaa;
          margin: 0 5px;
          outline: none !important;
          border: 1px solid rgba($white, 0.5);
          &:hover, &.active {
            background-color: #454545;
          }
        }
      }
      
    }
  }
}

/*

  height: 200px;
  overflow: hidden;
  text-align: center;
  width: 100%;

  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  max-height: 150%;
  display: block;
  margin: 0 auto;

*/