.more-btn {
  display: inline-block;
  background-color: transparent;
  color: $mainColor;
  border: 2px solid $mainColor;
  border-radius: 4px;
  font-weight: 600;
  padding: 4px 22px;
  outline: none !important;
  transition: 0.3s;
  &:hover {
    background-color: $mainColor;
    color: $white;
  }
}

.all-btn {
  display: inline-block;
  border: none;
  padding: 5px 22px;
  font-size: 18px;
  border-radius: 2px;
  outline: none !important;
  background-image: linear-gradient(to right, $mainColor 0%, $mainColorLighter  48%, $mainColor 100%);
  background-size: 200% auto;
  background-position: #{$right} center;
  box-shadow: 2px 2px 8px rgba($black, 0.3);
  color: $white !important;
  transition: 0.4s;
  &:hover {
    background-position: initial;
    box-shadow: none;
  }
}