/*** Colors ***/
$black: #212529;
$white: #fff;
$mainColor: #054c8f;
$mainColorDarker: #03335f;
$secColor: #28af60;
$secColorDarker: #0f9648;

$right: right;
$left: left;

// $mainColor-old: #1f3349;
// $mainColorDarker-old: #122030;