/*** Colors ***/
$black: #212529;
$white: #fff;
$mainColor: #054c8f;
$mainColorDarker: #03335f;
$mainColorLighter: #377fc3;
// $secColor: #28af60;
// $secColorDarker: #0f9648;

$right: left;
$left: right;